doctype html
html
    head
        title exemplo
    
    body
    -var url = 'index.html'
    a(href = 'youtube.com') Youtube

    div(class ='div')
        a(href = '/' + url ) Fui
        h1.texto Lorem ipsum dolor sit amet consectetur adipisicing elit.
            